body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.left-section {
    text-align: left;
}

.left-section .city {
    font-size: 36px;
    margin: 0;
}

.left-section .time {
    font-size: 96px;
    margin: 10px 0;
}

.left-section .date {
    font-size: 24px;
    margin: 0;
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
}

.todo-list {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    margin-right: 150px;
    border: 5px solid;
    border-image-slice: 5;
    border-image-source: linear-gradient(to top, black, gray);
    margin-top: -100px;
}

.todo-list h2 {
    margin-top: 0;
    font-size: 24px;
}

.todo-list ul {
    list-style-type: circle;
    padding: 0;
    padding-left: 30px;
}

.todo-list ul li {
    margin: 10px 0;
    font-size: 20px;
    
}

.weather-info {
    text-align: right;
}

.temp-range {
    display: grid;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
}

.current-temp {
    font-size: 100px;
    margin: 27px 0;
}

