<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
<div class="container" id="data-container">
    <div class="left-section">
            <p class="city">{{ weather.city }}</p>
            <p class="time" id="user-time"></p>
            <p class="date" id="user-date"></p>
        </div>
    <div class="right-section">
            <div class="todo-list">
                <h2>Список дел</h2>
                <ul>
                    <li>Анжумания</li>
                    <li>Бегит</li>
                    <li>Прес качат</li>
                    <li>Чут чут адихат</li>
                </ul>

            </div>

            <div class="weather-info">
                <p class="current-temp" id="weather">{{ weather.temperature }}°C</p>
            </div>
        </div>

</div>
</body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>