<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
<div class="container" id="data-container">
    <div class="left-section">
            <p class="city">{{ weather.city }}</p>
            <p class="time" id="user-time"></p>
            <p class="date" id="user-date"></p>
        </div>
    <div class="right-section">
            <div class="todo-list">
             <div class="tabs">
            <div class="tab active" onclick="openTab('list1')">Список покупок</div>
            <div class="tab" onclick="openTab('list2')">Список дел</div>
            </div>
            <div id="list1" class="tab-content active">
                <ul>
                {% for purchase in purchases %}
                    <li>
                    <div class="item-container">
                     <input
                    type="checkbox"
                    id="checkbox-{{ purchase.id }}"
                    onclick="toggleStatus({{ purchase.id }})"
                    {% if purchase.active %} checked {% endif %}
                    >
                    <span class="item-text">{{ purchase.item_name }} - Количество: {{ purchase.quantity }}
                    </span>


                    <button class="delete-btn" onclick="deleteItem({{ purchase.id }})">
                        <img src="{{ url_for('static', filename='images/trash-bin.svg') }}" alt="Удалить">
                    </button>
                    </div>
                    </li>
                {% endfor %}
            </ul>
            </div>
              <div id="list2" class="tab-content">
                <ul>
                {% for task in todolist %}
                <li>
                    <input
                    type="checkbox"
                    id="checkbox-{{ task.id }}"
                    onclick="toggleStatustodo({{ task.id }})"
                    {% if task.is_completed %} checked {% endif %}
                    >
                    <span class="item-text">{{ task.task_name }}</span>
                 <button class="delete-btn" onclick="deleteItemtodo({{ task.id }})">
                        <img src="{{ url_for('static', filename='images/trash-bin.svg') }}" alt="Удалить">
                 </button>
                </li>
                {% endfor %}
                </ul>
               </div>

            </div>

            <div class="weather-info">
                <p class="current-temp" id="weather">{{ weather.temperature }}°C</p>
            </div>
        </div>

</div>
</body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>